.productTextContainer{
    position:absolute;
    top:1.5rem;
    pading-left:1.5rem; 
    pading-top:2rem;
    color:white;
}

.product-title{
    font-size:2rem;
    font-weight:700;
}

.product-detail{
    font-weight:400;
    font-size:1rem;
    margin-top:1.25rem;
}